@import "../../styles/inc/components";

.erroPageWrap {
	text-align: center;
	padding: 96px 0;
	@include media-breakpoint-down(xl) {
		padding: 80px 0;
	}
	@include media-breakpoint-down(md) {
		padding: 64px 0;
	}
	.errorIcon {
		img {
			-o-object-fit: contain;
			object-fit: contain;
			display: block;
			margin: 0 auto 20px;
			@include media-breakpoint-down(lgmd) {
				height: 200px;
				width: 372px;
			}
			@include media-breakpoint-down(xs) {
				height: 150px;
				width: 300px;
			}
		}
	}
	p {
		padding-bottom: 30px;
		@include media-breakpoint-down(xs) {
			padding-bottom: 25px;
		}
	}
}