@import '../styles/inc/components';

.filterSection {
    @include media-breakpoint-down(md) {
        padding: 50px 0;
    }
    .selectCol {
        text-align: right;
        @include media-breakpoint-down(md) {
            margin-top: 30px;
        }
        select {
            border: 1px solid $lightGrey;
            padding: 15px 20px;
            background-color: $lightGrey2;
            color: $darkGrey;
            width: 288px;
            border-radius: 8px;
            @include media-breakpoint-down(md) {
                width: 100%;
                margin-top: 30px;
            }
        }
    }
    .resetBtn {
        button {
            @include media-breakpoint-down(sm) {
                padding: 11px 18px;
                font-size: 14px;
            }
        }
    }
    .textCol {
        color: $black;
    }
    .filterText {
        color: $darkGrey;
        border: 1px solid $lightGrey;
        margin-left: 20px;
        background-color: $offWhite;
        padding: 6px 10px;
        border-radius: 5px;
        display: inline-block;
        margin-top: 10px;
        .closeIcon {
            color: $black;
            font-size: 9px;
            vertical-align: middle;
            padding-left: 10px;
            cursor: pointer;
        }
    }
    .clearAllText {
        text-decoration: underline;
        padding-left: 20px;
        cursor: pointer;
        display: inline-block;
    }
    .paginationSec {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 10px;
        @include media-breakpoint-down(md) {
            margin-top: 0;
        }
        button {
            height: 46px;
            width: 46px;
            background-color: transparent;
            cursor: pointer;
            border: 1px solid $lightGrey;
            @include media-breakpoint-down(xs) {
                height: 40px;
                width: 40px;
            }
            &:hover {
                background-color: $offWhite;
            }
            &:focus {
                color: $black;
                background-color: $offWhite;
            }
            &.firstCol {
                border-radius: 8px 0 0 8px;
            }
            &.lastCol {
                border-radius: 0 8px 8px 0;
            }
            &.disabled {
                cursor: no-drop;
                background-color: $offWhite;
            }
        }
    }
}
.noDataFound {
    text-align: center;
    span {
        display: block;
        &.searchCrossIcon {
            color: $orangeColor;
            font-size: 45px;
            padding-bottom: 30px;
            @include media-breakpoint-down(xs) {
                font-size: 40px;
                padding-bottom: 20px;
            }
        }
    }
}