@import '../styles/inc/components';

.shareLinksWrap {
    display: none;
    &.openShareLinks {
        display: block;
    }
}
.filterWrapper {
    width: 288px;
}
.singleRecipeWrapper {
    padding-top: 64px;
    border-bottom: 1px solid $lightGrey;
    @include media-breakpoint-down(lg) {
        padding-top: 40px;
    }
    @include media-breakpoint-down(md) {
        padding: 64px 0 48px !important;
    }
    @include media-breakpoint-down(xs) {
        padding: 45px 0 48px !important;
    }
    .recipeImg {
        .recipeDeskImg {
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
        .recipeMobImg {
            display: none;
            @include media-breakpoint-down(md) {
                display: block;
            }
        }
        img {
            border-radius: 20px;
            -o-object-fit: cover; 
            object-fit: cover;
            width: 100%;
        }
    }
    .contentCol {
        h1 {
            @include media-breakpoint-between(md, xl)  {
                font-size: 32px;
                margin-bottom: 20px;
            }
            margin-bottom: 32px;
        }
        span {
            display: block;
            margin-bottom: 16px;
        }
        p {
            margin-bottom: 32px;
        }
        .description {
            @include media-breakpoint-down(md) {
                margin-top: 32px;
            }
        }
        .btnWrapper {
            border-top: 1px solid $lightGrey;
            padding-top: 32px;
            position: relative;
            .btnWrapperInner {
                display: inline-block;
            }
        }
    }
    ol {
        padding-left: 16px;
        margin-bottom: 32px;
        li {
            list-style-type: decimal;
        }
    }
    ul {
        padding-left: 16px;
        margin-bottom: 32px;
        li {
            list-style-type: disc;
        }
    }
}
.recentRecipeWrapper {
    .recipeTitle {
        h2 {
            margin-bottom: 64px;
            @include media-breakpoint-down(lg) {
                margin-bottom: 40px;
            }
            @include media-breakpoint-down(md) {
                margin-bottom: 32px;
            }
        }
    }
    @media print {
        display: none;
    }
}