:root.sobeystheme{
    //Global Color
    --theme-primary: #025436;
    --slider-heading-font-size: 64px;
    --slider-heading-line-height: 80px;

    //Slider
    --slider-info-bg: var(--theme-primary);
}
