@import "../../styles/inc/components";

.headerWrapper {
    background-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 8;
    @include transvalue(transition, all 0.3s);
    @include media-breakpoint-down(md) {
        position: relative;
    }
    &:after {
        @include media-breakpoint-down(md) {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 35px;
            height: 1px;
            background-color: $lightGrey;
        }
    }
    .headerRow {
        align-items: center;
    }
    .logoMob {
        ul {
            padding: 10px 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            list-style-type: none;
            @include media-breakpoint-up(md) {
                display: none;
            }
            li {
                + li {
                    padding-left: 20px;
                }
                img {
                    height: 16px;
                    width: auto;
                    max-width: 75px;
                    object-fit: contain;
                    display: block;
                }
            }
        }
    }
    &.bgWhite {
        background-color: $white;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $lightGrey;
            height: 1px;
        }
        ul {
            li {
                a {
                    color: $black;
                    &:focus {
                        color: $darkGrey;
                    }
                    span {
                        color: $black;
                    }
                }
                button {
                    &::before {
                        color: $orangeColor;
                    }
                }
            }
        }
        .logoCol {
            .logoImg {
                @include media-breakpoint-up(md) {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                }
            }
            .whiteLogo {
                @include media-breakpoint-up(md) {
                    display: none;
                }
            }
        }
        .searchWrapper {
            &:before {
                background-color: $lightGrey;
            }
            .searchBtn {
                > span {
                    color: $orangeColor;
                }
            }
        }
        &.Scrolled {
            position: fixed;
            background-color: $white;
            top: 0;
            @include transvalue(transition, all 0.3s);
        }
    }
    &.bgTransparent {
        background-color: transparent;
    }
    .logoCol {
        height: 100px;
        @include media-breakpoint-down(lg) {
            height: 90px;
        }
        @include media-breakpoint-down(md) {
            height: 60px;
            padding-top: 10px;
        }
        a {
            display: block;
            margin-top: 18px;
            line-height: 1;
            @include media-breakpoint-down(md) {
                margin-top: 0;
            }
            img {
                position: relative;
                height: 28px;
                object-fit: contain;
                width: 100%;
                max-width: 128px;
                display: block;
                @include transvalue(transition, all 0.3s);
            }
        }
        .logoImg {
            display: none;
        }
        .whiteLogo {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
        .mainLogo {
            width: 120px;
            @include media-breakpoint-down(lg) {
                width: 110px;
            }
            @include media-breakpoint-down(md) {
                width: 100px;
            }
            @include media-breakpoint-down(xs) {
                width: 80px;
            }
            a {
                position: absolute;
                &:focus {
                    color: $orangeColor;
                }
            }
            img {
                height: 120px;
                @include media-breakpoint-down(lg) {
                    height: 110px;
                }
                @include media-breakpoint-down(md) {
                    height: 100px;
                }
                @include media-breakpoint-down(xs) {
                    height: 80px;
                }
            }
        }
    }
    .mobMenu {
        @include media-breakpoint-down(md) {
            order: 1;
        }
    }
    .searchWrapper {
        position: relative;
        padding-left: 48px;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: $white;
            width: 1px;
            @include media-breakpoint-down(md) {
                right: -15px;
                left: auto;
                background-color: $lightGrey;
            }
        }
        @include media-breakpoint-down(lg) {
            padding-left: 35px;
        }
        @include media-breakpoint-down(md) {
            padding-left: 0;
            margin-right: 5px;
            padding-right: 10px;
        }
        .searchBtn {
            padding: 0;
            border: 0;
            background-color: transparent;
            display: block;
            cursor: pointer;
            color: $white;
            @include media-breakpoint-down(md) {
                margin-left: auto;
            }
            &:focus {
                color: $black;
            }
            > span {
                font-size: 24px;
                color: $white;
                @include media-breakpoint-between(md, lg) {
                    font-size: 20px;
                }
                @include media-breakpoint-down(md) {
                    color: $orangeColor;
                }
            }
        }
    }
    .headerLogo {
        ul {
            list-style: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            li {
                position: relative;
                margin-left: 24px;
                padding-top: 16px;
                @include media-breakpoint-down(lg) {
                    margin-left: 18px;
                    padding-top: 13px;
                }
                &:first-child {
                    padding-left: 24px;
                    @include media-breakpoint-down(lg) {
                        padding-left: 18px;
                    }
                    &::before {
                        content: "";
                        width: 1px;
                        height: 55px;
                        position: absolute;
                        left: 0;
                        top: 22px;
                        background-color: $lightGrey;
                        @include media-breakpoint-down(lg) {
                            height: 45px;
                        }
                        @include media-breakpoint-down(md) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.displayBlock {
    display: block;
}
.displayNone {
    display: none;
}